= provide(:title, "Sign in")
= stylesheet_link_tag "signin", media: "all"
= javascript_include_tag "signin"
= render "layouts/home_header"
#wrapper
  %a.btn{href: "/signup"} Sign Up
  #signin_container
    = form_for(:session, url: sessions_path) do |f|

      = f.text_field :email
      = f.password_field :password

      = f.submit "Sign in"
= render "layouts/footer"
